<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Scraping app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>人材探しツール</h1>
    <h2>条件を指定しましょう</h2>
    <form method="post" action="{{ url_for('options') }}">
        <fieldset class="mb20">
            <legend>職種</legend>
            <label for="job">職種を選択してください</label>
            <select name="job" id="job" required>
                <option value="">選択してください</option>
                <option value="ITエンジニア(全般)">ITエンジニア(全般)</option>
                <option value="システムエンジニア(SE)">システムエンジニア(SE)</option>
                <option value="プログラマ(PG)">プログラマ(PG)</option>
                <option value="プログラマ(スマートフォン)">プログラマ(スマートフォン)</option>
                <option value="iOSアプリエンジニア">iOSアプリエンジニア</option>
                <option value="Androidアプリエンジニア">Androidアプリエンジニア</option>
                <option value="AIエンジニア">AIエンジニア</option>
                <option value="ITコンサルタント">ITコンサルタント</option>
                <option value="セキュリティエンジニア">セキュリティエンジニア</option>
                <option value="ネットワークエンジニア">ネットワークエンジニア</option>
                <option value="サーバーエンジニア・インフラエンジニア">サーバーエンジニア・インフラエンジニア</option>
                <option value="データベースエンジニア">データベースエンジニア</option>
                <option value="デスクトップアプリ・業務アプリ開発者">デスクトップアプリ・業務アプリ開発者</option>
                <option value="テスター">テスター</option>
                <option value="プロジェクトマネージャー(PM)">プロジェクトマネージャー(PM)</option>
                <option value="その他エンジニア">その他エンジニア</option>
            </select>
        </fieldset>
        <fieldset class="mb20">
            <legend>スキル</legend>
            <label for="skill">スキルを選択してください</label>
            <div hidden>
                <input type="hidden" name="skill" id="" value="index">
            </div>
            <div>
                <input name="skill" value="PHP" type="checkbox" id="PHP">
                <label for="PHP">PHP</label>
            </div>
            <div>
                <input name="skill" value="JavaScript" type="checkbox" id="JavaScript">
                <label for="JavaScript">JavaScript</label>
            </div>
            <div>
                <input name="skill" value="Java" type="checkbox" id="Java">
                <label for="Java">Java</label>
            </div>
            <div>
                <input name="skill" value="Python" type="checkbox" id="Python">
                <label for="Python">Python</label>
            </div>
            <div>
                <input name="skill" value="MySQL" type="checkbox" id="MySQL">
                <label for="MySQL">MySQL</label>
            </div>
            <div>
                <input name="skill" value="HTML" type="checkbox" id="HTML">
                <label for="HTML">HTML</label>
            </div>
            <div>
                <input name="skill" value="CSS" type="checkbox" id="CSS">
                <label for="CSS">CSS</label>
            </div>
            <div>
                <input name="skill" value="AWS" type="checkbox" id="AWS">
                <label for="AWS">AWS</label>
            </div>
            <div>
                <input name="skill" value="Linux" type="checkbox" id="Linux">
                <label for="Linux">Linux</label>
            </div>
            <div>
                <input name="skill" value="jQuery" type="checkbox" id="jQuery">
                <label for="jQuery">jQuery</label>
            </div>
        </fieldset>
        <fieldset class="mb20">
            <legend>性別</legend>
            <label for="sex-select">性別を選択:</label>
            <select id="sex-select" name="sex">
                <option value=""></option>
                <option value="男性">男性</option>
                <option value="女性">女性</option>
            </select>
        </fieldset>
        <fieldset class="mb20">
            <legend>年齢層</legend>
            <label for="age-select">年齢層を選択:</label>
            <select id="age-select" name="age">
                <option value=""></option>
                <option value="10代">10代</option>
                <option value="20代">20代</option>
                <option value="30代">30代</option>
                <option value="40代">40代</option>
                <option value="50代">50代</option>
                <option value="60歳以上">60歳以上</option>
            </select>
        </fieldset>
        <fieldset class="mb20">
            <legend>都道府県</legend>
            <label for="prefecture">都道府県を選択:</label>
            <select id="prefecture" name="pref">
                <option value=""></option>
                <option value="北海道">北海道</option>
                <option value="青森県">青森県</option>
                <option value="岩手県">岩手県</option>
                <option value="宮城県">宮城県</option>
                <option value="秋田県">秋田県</option>
                <option value="山形県">山形県</option>
                <option value="福島県">福島県</option>
                <option value="茨城県">茨城県</option>
                <option value="栃木県">栃木県</option>
                <option value="群馬県">群馬県</option>
                <option value="埼玉県">埼玉県</option>
                <option value="千葉県">千葉県</option>
                <option value="東京都">東京都</option>
                <option value="神奈川県">神奈川県</option>
                <option value="新潟県">新潟県</option>
                <option value="富山県">富山県</option>
                <option value="石川県">石川県</option>
                <option value="福井県">福井県</option>
                <option value="山梨県">山梨県</option>
                <option value="長野県">長野県</option>
                <option value="岐阜県">岐阜県</option>
                <option value="静岡県">静岡県</option>
                <option value="愛知県">愛知県</option>
                <option value="三重県">三重県</option>
                <option value="滋賀県">滋賀県</option>
                <option value="京都府">京都府</option>
                <option value="大阪府">大阪府</option>
                <option value="兵庫県">兵庫県</option>
                <option value="奈良県">奈良県</option>
                <option value="和歌山県">和歌山県</option>
                <option value="鳥取県">鳥取県</option>
                <option value="島根県">島根県</option>
                <option value="岡山県">岡山県</option>
                <option value="広島県">広島県</option>
                <option value="山口県">山口県</option>
                <option value="徳島県">徳島県</option>
                <option value="香川県">香川県</option>
                <option value="愛媛県">愛媛県</option>
                <option value="高知県">高知県</option>
                <option value="福岡県">福岡県</option>
                <option value="佐賀県">佐賀県</option>
                <option value="長崎県">長崎県</option>
                <option value="熊本県">熊本県</option>
                <option value="大分県">大分県</option>
                <option value="宮崎県">宮崎県</option>
                <option value="鹿児島県">鹿児島県</option>
                <option value="沖縄県">沖縄県</option>
            </select>
        </fieldset>
        <fieldset class="mb50">
            <legend>その他項目</legend>
            <div class="mb10">
                <label for="id">本人確認済み:</label>
                <select name="id" id="id">
                    <option id="" value="指定なし">指定なし</option>
                    <option id="" value="済み">指定あり</option>
                </select>
            </div>
            <div class="mb10">
                <label for="webmeet">Web会議可能:</label>
                <select name="webmeet" id="webmeet">
                    <option id="" value="指定なし">指定なし</option>
                    <option id="" value="可能">指定あり</option>
                </select>
            </div>
            <div class="mb10">
                <label for="score">評価</label>
                <select id="score" name="score">
                    <option value="">指定なし</option>
                    <option value="3.0以上">★★★☆☆ 3.0以上</option>
                    <option value="4.0以上">★★★★☆ 4.0以上</option>
                    <option value="5.0">★★★★★ 5.0</option>
                </select>
            </div>
        </fieldset>
        <div class="button">
            <button type="submit" class="btn_06 mb20"><span>人材を探す</span></button>
            <button
                type="reset"
                class="btn_reset"
                onclick="return confirm('リセットしますか？');"
            ><span>リセットする</span></button>
        </div>
    </form>
</body>
</html>